*.ctx.md

# Add .turbo to your .gitignore file. The turbo CLI uses these folders for persisting logs, outputs, and other functionality.
.turbo

# uploads in server
**/uploads/
.DS_Store

# Already set up here, so we can setup eslint ignores easier
**/node_modules/
**/.vercel/
**/build/
**/.next/
**/out/